.navbar{
  	background-color: #2c3e50;
    border-radius: 0px;
    border: 0px solid transparent;
    background-color: #232B40;
  }
  .navbar-brand {
  	color: white !important;
    font-weight: 300;
    color: white;
    font-size: 20px;
    letter-spacing: 1.7px;
    border-style: none;
  }
  #navbar{
  	color: white !important;
  }

.navbar-default .navbar-nav > li > a {
    color: #D0D0D0;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
}

body{
    background-color: #ECECEC;
}

h4 {
  font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.6px;
    padding-bottom: 5px;
}

h3 {
  font-weight: 400;
    font-size: 20px;
    line-height: 5px;
    margin: 0px;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}

h2{
    margin-left: 2%;
    margin-top: 0px;
}

.course-list{
    margin-top: 25px;
    margin-left: 10px;
    padding: 0px;
}

.course-list label{
    width: 15%;
}

label{
    font-weight: 400;
}

.checkbox-inline+.checkbox-inline{
    margin: 0px;
}

a:link, a:visited, a:active, a:hover, a{
    font-size: 13.5px;
    color: #449BFF;
    letter-spacing: 0.25px;
    text-decoration: none;
}



.container-fluid, navbar-header, navbar{
    background-color: #232B40;
}
.navbar-brand:link, .navbar-brand, .navbar-brand:active, .navbar-brand:visited, .navbar-brand:focus{
    font-weight: 300;
    color: white;
    font-size: 20px;
    letter-spacing: 1.7px;
}

.form-control{
    margin-bottom: 10px;
}

.contain{
    margin: auto;
    width: 85%;
}

.btn{
    background-image: linear-gradient(-180deg, #60B7E8 0%, #1882D6 100%);
    border-radius: 5px;
    /* Sign In: */
    font-size: 17px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0.77px;
    line-height: 33px;
    opacity: 1;
    width: 90px;

}

.btn:active{
    background-image: linear-gradient(0deg, #60B7E8 0%, #1882D6 100%);
}


.btnModal{
    border: 0px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.btnModal:active{
    background-image: linear-gradient(0deg, #60B7E8 0%, #1882D6 100%);
}

.btn-primary{
    background-image: linear-gradient(-180deg, #60B7E8 0%, #1882D6 100%);
}

.panel-default{
    border-color: #C5C5C5;
}

.has-error, .form-group{
    /* Rectangle 3: */
    box-shadow: rgba(0, 0, 0, 0)
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    /* Text*: */
    font-weight: 300;
    font-size: 15px;
    margin: 15px;
    width: 95%;
}

.help-block{
    margin: 0px;
    font-size: 13px;
}

h1{
    font-size: 52px;
    font-weight: 300;
    letter-spacing: 2.5px;
    color: #FFFFFF;
    line-height: 54px;
    text-align: center;
}
.lead{
    font-weight: 700;
    font-size: 27px;
    color: #FFFFFF;
    letter-spacing: 3.5px;
    line-height: 49px;
    text-align: center;
}

.page-header {
  margin: auto;
    border-bottom: 0px;
}

.vert-line{
    width: 100;
    height: 500;
    border-left: thick solid black;
}

hr {
  margin: 40px;
}
.checkboxList{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

