a[id*='COMP']{
    background-color: #3FA51D;
    border-color: #3A941C;
}
a[id*='ELEC']{
    background-color: #C12626;
    border-color: #A73232;
}
a[id*='ENCS']{
    background-color: #6B5FB2;
    border-color: #6B5FB2;
}
a[id*='SOEN']{
    background-color: #378AC5;
    border-color: #378AC5;
}
a[id*='ENGR']{
    background-color: #D25D18;
    border-color: #D25D18;
}
.delete {
   width: 17px; /*width of your image*/
   height: 23px; /*height of your image*/
    font-size: 1.3em;
   background-size: 100% 100%;
   margin:0; /* If you want no margin */
   padding:0; /*if your want to padding */
   display: inline-table;
    background-color: transparent;
    border-style: none;
    vertical-align: middle;
}

.glyphicon-trash{
    color: #E1655D;
}
.glyphicon-trash:hover{
    color: #953333;
}
h4{
    font-size: 1.2em;
    line-height: 10px;
    letter-spacing: 1px;
}

.navbar{
	background-color: #2c3e50;
    border-radius: 0px;
    border: 0px solid transparent;
    background-color: #232B40;
}
.navbar-brand {
	color: white !important;
    font-weight: 300;
    color: white;
    font-size: 20px;
    letter-spacing: 1.7px;
    border-style: none;
}
#navbar{
	color: white !important;
}

.navbar-default .navbar-nav > li > a {
    color: #D0D0D0;
}
.navbar-default .navbar-nav > li > a:hover {
    color: white;
}

body{
	background-color: #e6e6e6;
}

.main-body{
	width: 100%;
	height: 100%;
    background-color: #e6e6e6;
}

.main-body a:link, a:visited, a:active, a:not(.nav-bar-brand){
    color: #449BFF;
    letter-spacing: 0.25px;
    text-decoration: none;
}
.main-body a:hover:not(.fc-event){
    color: #3375c1;
}

.search-text{
	color: #3498DB;
}
.panel-body{
	height: auto;
	padding: 3px;
}

.jumbotron{
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	background-color: #e6e6e6;
}
.panel-group{
	margin-bottom: 0px !important;
}

.auto, .compute{
    width: 152px;
    float: left;
    margin-left: 5%;
}
.auto .explainer{
    padding-left: 10px;
    color: rgb(102, 144, 124);
    font-size: .9em;
}
.compute .explainer{
    padding-left: 10px;
    color: rgb(107, 138, 166);
    font-size: .9em;
}

.row {
	margin-left: 15px;
	margin-right: 15px;
}

.schedule-content{

}

.checkboxList{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.recomputeBtn {
	margin: 10px;
}
.class-table{
	margin-right-left: 20px;
}

.search-row{
	padding-bottom: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

.semester-row{
	padding-top: 0px;
	padding-bottom: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

.class-list{
	background-color: #f2f2f2;
}

#schedule {
	max-width: 100%;
		
}

.table>tbody>tr>td{
    vertical-align: middle;
}

table{
    background-color: rgba(255, 255, 255, 0.11);
}

.fc-toolbar{
    line-height: 0px;
    margin: 0px;
    height: 0px;
}

.table-bordered {
    border-style: none;
}



